* {
    font-size: 10px;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 6rem;
    text-align: center;
}

table, tr, th {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

.filter {
    margin-bottom: 7px;
}

#sorting th {
    margin-right: 20px;
}

#search {
    font-size: 1.4rem;
    top: 0;
    left: 0;
}

p,
td,
.search_p {
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
}

[data-field="firstname"],
[data-action="sort"] {
    text-decoration: underline;
    cursor: pointer;
}

button {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    margin-right: 6px;
}

/* POP UP: */

#popup {
display: none;
/*cursor: pointer;*/
background-color: black;
position: fixed;
top: 0;
left: 0;
width: 420px;
height: 630px;
border-radius: 40px;
/*overflow: scroll;*/
}

#popup article {
    align-self: center;
    width: 386px;
    height: 580px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: rgb(97, 178, 178);
}

#pop_close_button {
    color: whitesmoke;
    position: fixed;
    padding: 1em;
    font-size: 1.7em;
    font-weight: bolder;
    cursor: pointer;
}

.showPopUp {
    display: block;
}

.art_h2 {
    font-size: 3rem;
    text-align: center;
}

article p {
    font-size: 2rem;
    margin: 5px;
}

span {
font-size: 2rem;
}

.popup_image {
    width: 120px;
    height: auto;
    margin-left: 133px;
}

.pop_gryffindor {
    background-color: B31A11;
}

.pop_hufflepuff {
    background-color: FFE20C;
}

.pop_ravenclaw{
    background-color: 0F18B8;
}

.pop_slytherin{
    background-color: 29B801;
}

/* GENEREL HIDE: */ 

.hide {
    /*display: none;*/
    opacity: 0;
}

/* WARNING MODALS: */

.hide_warnings {
    visibility: hidden;
}

.warning_remove_prefect1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 198, 198);
    opacity: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog_box {
    box-shadow: 1px, 3px, 10px, #333;
    background-color: rgb(236, 171, 4);
    opacity: 100%;
    width: 28vw;
    height: 29vh;
    border-radius: 12px;
    padding: 15px;
    position: relative;
}

.dialog_box h1 {
    font-size: 3rem;
    padding-top: 0%;
    text-align: center;
}

.dialog_box p,
.remove_a_prefect,
.remove_b_prefect,
[data-field="prefectA"], 
[data-field="prefectB"] {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
}

.close_prefect_warning1 {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 25%;
    cursor: pointer;
}


/* HACKING */ 

#hack_site {
    opacity: 0.1;
    background-color: darkblue;
    width: 95px;
    height: 40px;
    position: relative;
    cursor: pointer;

}

.hack_p {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
    color: whitesmoke;
}

@keyframes remove_squad_member {
    0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:red;}
}

.remove_squad_member_container {
animation-name: remove_squad_member;
animation-duration: 2s;
animation-iteration-count: 1;
}