* {
    font-size: 10px;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 6rem;
}

table, tr, th {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

p, td {
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
}

[data-field="firstname"] {
    text-decoration: underline;
    cursor: pointer;
}

#popup {
display: none;
cursor: pointer;
background-color: aquamarine;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
overflow: scroll;
}

#popup article {
    width: 80wv;
    display: flex;
    border-radius: 25px;
    background-color: azure;
}

#pop_close_button {
    position: fixed;
    padding: 1em;
    font-size: 1.7em;
    font-weight: bolder;
    cursor: pointer;
}

.showPopUp {
    display: block;
}