* {
    font-size: 10px;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 6rem;
    text-align: center;
}

table, tr, th {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

#sorting th {
    margin-right: 20px;
}

#search {
    top: 0;
    left: 0;
}

p,
td {
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
}

[data-field="firstname"],
[data-action="sort"] {
    text-decoration: underline;
    cursor: pointer;
}

button {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    margin-right: 6px;
}

/* POP UP: */

#popup {
display: none;
/*cursor: pointer;*/
background-color: black;
position: fixed;
top: 0;
left: 0;
width: 40vw;
height: 92vh;
border-radius: 40px;
/*overflow: scroll;*/
}

#popup article {
    width: 35vw;
    height: 82vh;
   /* overflow: scroll;
display: flex;
    flex-direction: column;*/
    margin: 0 auto;
    border-radius: 40px;
    background-color: rgb(97, 178, 178);
}

#pop_close_button {
    color: whitesmoke;
    position: fixed;
    padding: 1em;
    font-size: 1.7em;
    font-weight: bolder;
    cursor: pointer;
}

.showPopUp {
    display: block;
}

.art_h2 {
    font-size: 3rem;
    text-align: center;
}

article p {
    font-size: 2rem;
    margin: 5px;
}

span {
font-size: 2rem;
}

.popup_image {
    width: 15vw;
    height: auto;
}

/* .popup_article {
    display: grid;
    grid-template-columns: 1fr, 1fr;

}

.popup_grid1 {
    grid-column-start: 1;
}

.popup_grid2 {
    grid-column-start: 2;
} */

.pop_gryffindor {
    background-color: B31A11;
}

.pop_hufflepuff {
    background-color: FFE20C;
}

.pop_ravenclaw{
    background-color: 0F18B8;
}

.pop_slytherin{
    background-color: 29B801;
}

/* GENEREL HIDE: */ 

.hide {
    /*display: none;*/
    opacity: 0;
}

/* WARNING MODALS: */

.hide_warnings {
    visibility: hidden;
}

.warning_remove_prefect1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 198, 198);
    opacity: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog_box {
    box-shadow: 1px, 3px, 10px, #333;
    background-color: rgb(236, 171, 4);
    opacity: 100%;
    width: 28vw;
    height: 29vh;
    border-radius: 12px;
    padding: 15px;
    position: relative;
}

.dialog_box h1 {
    font-size: 3rem;
    padding-top: 0%;
    text-align: center;
}

.dialog_box p,
.remove_a_prefect,
.remove_b_prefect,
[data-field="prefectA"], 
[data-field="prefectB"] {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
}

.close_prefect_warning1 {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 25%;
    cursor: pointer;
}


/* HACKING */ 

#hack_site {
    opacity: 2;
    background-color: darkblue;
    width: 5vw;
    height: 5vh;
    position: relative;
    cursor: pointer;

}

.hack_p {
    font-size: 1.4rem;
    padding: 5px, 3px, 5px, 3px;
    align-content: center;
    color: whitesmoke;
}